.nav{
    width: 11%;
    height:50px;
    background-color: #222222;
    color: #ffffff;
    /*margin-left:-*/
    margin-right:-4.0px;
    -webkit-margin-collapse: collapse;
    border-color: #000000;
}


.centerh{
    text-align: center;
}

body{
    background-color: lightskyblue;
    font-family: "Georgia", "Times", serif;
}

.navbar {
    overflow: hidden;
    background-color: #333;
}



.centerinparent{
    text-align: center;
}