/* Created with help from w3 schools https://www.w3schools.com/css/default.asp */
.nav{
    width: 11%;
    height:50px;
    background-color: #222222;
    color: #ffffff;
    /*margin-left:-*/
    margin-right:-4.0px;
    border-color: #000000;
}
/* Responsive design created with help from w3 schools https://www.w3schools.com/css/css_rwd_mediaqueries.asp */
@media only screen and (min-height: 800px) {
    .index{
        color: white;
    }
}

body{
    background-repeat: no-repeat;
}


.navbar {
    overflow: hidden;
}



.centerinparent{
    text-align: center;
}

.placeholder{
    opacity: 0;
}

h2{
    font-family: Georgia, serif;

}

.text{
    font-size: 20px;
}