/* Created with help from w3 schools https://www.w3schools.com/css/default.asp */

body{
    background-color: #48b0df;
    background-repeat: no-repeat;
    background-size: cover;
    /*font-family: "Georgia", "Times", serif;*/
}

.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.id1{
    margin-right: 20px;
    margin-top: 30px;
    padding: 5px;
    border-radius: 18px;
    overflow: auto;
    background-image: radial-gradient(#ffffe3, #edc9af);
    border-color: #000000;
    border-style: solid;
    border-width: 1px;
}

.divtext{
    margin-right: 20px;
    margin-top: 30px;
    padding: 5px;
    border-radius: 18px;
    overflow: auto;
    background-image: radial-gradient(#ffffe3, #edc9af);
    border-color: #000000;
    border-style: solid;
    border-width: 1px;
}

.maintext{
    font-size: 40px;
}